<html lang="en" layout:decorate="~{layouts/adminLayout}">
<main layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">Proveedores</div>
            <div class="card-body">
                <div class="mb-3">
                    <a class="btn btn-sm btn-primary" th:href="@{/admin/proveedores/add}">Nuevo</a>
                </div>
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>RUC</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="proveedor : ${proveedores}">
                            <td th:text="${proveedor.id}"></td>
                            <td th:text="${proveedor.ruc}"></td>
                            <td th:text="${proveedor.nombre}"></td>
                            <td th:text="${proveedor.email}"></td>
                            <td th:text="${proveedor.telefono}"></td>
                            <td>
                                <a th:href="@{/admin/proveedores/edit/{id}(id=${proveedor.id})}"
                                    class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                                <a th:href="@{/admin/proveedores/delete/{id}(id=${proveedor.id})}"
                                    class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

</html>